/* 添加 CSS */

.italic{
  font-style: italic;
}

span{
  font-weight: bold;
}
.list{
  list-style: none none outside;
}
.card{
  box-sizing: border-box;
  height: 540px;
  width: 340px;
  box-shadow: 0px 15px 15px 0px;
  padding: 20px;
}
.bl2{
  border: 1px groove;
}
ul{
  padding-left:0;
}
